@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: #1f1f1f;
    color: white;
}

/* Home */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;   
}

.logo {
    font-size: 24px;
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: 200px;
}

.search-bar input[type="text"] {
    color: white;
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: 2px solid #D6BC9B;
    border-radius: 30px;
    font-size: 16px;
    background-color: #f3f4f614;
    background-image: url('../assets/search.png'); 
    background-position: 10px center; 
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
    background-size: 20px 20px; /* Atur ukuran ikon */  
}

.hamburger{
    display: none;
}

.top-menu {
    z-index: 3;
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    background-color: #2A2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw ;
    transition: 1s;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close svg {
    width: 30px;
}

nav .ul-pc ul {
    list-style: none;
    display: flex;
}

nav .ul-pc ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover{
    color: #FFB1B1;
}

.icons i {
    margin-left: 15px;
    cursor: pointer;
}

.icons img {
    width: 25px;  
    height: auto; 
}

/* login */
.modal-box {
    z-index: 1;
    width: 30%;
    padding: 40px 20px;
    background-color: #272727;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

img.login-logo {
    display: flex;
    width: 80px;
    margin: 10px auto;
}

.login-form {
    width: 100%;
    max-width: 400px;
}

.login-form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}

.login-form input {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #007BFF;
}

.login-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #D6BC9B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #1f1f1f;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.google-btn img {
    width: 50px !important;
    cursor: pointer;
}

.close-modal-btn {
    color: white;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 15px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close-modal-btn:hover {
    color: #1f1f1f;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Info Product */

.container-products-top {
    display: flex;
    background-color: #272727;
    color: #D6BC9B; 
    max-width: 1300px; 
    margin: 0 auto;
}

.column-left-top{
    flex: 1;
    padding: 50px;
    max-width: 1000px;
}

.column-right-top{
    flex: 1;
    padding: 100px;
}

.our-top{
    display: block;
}

.our-top h1{
    
    font-weight: 600;
    max-width: 300px;
}

.desc-top{
    color: white;
    font-weight: 200;
}

.desc-disc{
    color: white;
    text-decoration: line-through;
}

.desc-price{
    color: white;
    font-weight: 600;
}

.container-color .default .pertama{
    transition: transform 0.2s ease-in-out;
}

.container-color .default .kedua{
    transition: transform 0.2s ease-in-out;
}

.container-color .default .ketiga{
    transition: transform 0.2s ease-in-out;
}

.container-color .hover{
    margin-top: -45px;
}

.container-color .default .pertama:hover {
    transform: scale(1.2);
}

/* .container-color .default .kedua:hover {
    transform: scale(1.2);
} */

.container-color .default .ketiga:hover {
    transform: scale(1.2);
}

.preview-butter{
    padding-top: 30px;
}

.e-commerce{
    display: flex;
    padding-top: 50px;
    padding-left: 60px;
}

.like-info{
    padding-left: 160px;
}

.like-info img{
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

.like-info img:hover{
    transform: scale(1.1);
}

.buy-bag-btn{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 30px;
    
}

.buy-bag-btn .right-btn{
    padding-left: 20px;
}

.buy-bag-btn button{
    width: 150px;
    height: 40px;
    background-color: transparent;
    font-weight: 700;
    color: #D6BC9B;
    
    border: 1px solid #D6BC9B;
    transition: color 0.3s ease-in-out;
}

.buy-bag-btn button:hover{
    color: white;
}

.discover-products {
    font-weight: 650;
    font-size: 35px;
    padding: 20px;
    margin-left: 165px;  
}

.discover-products span {
    font-size: 35px;
    font-weight: 650;
}

.discover-products span{
    text-decoration: none;
    color: #D6BC9B;
}

.container-product-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    margin: 15px;
}

.card {
    background-color: #272727;
   
    width: 280px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    padding: 20px;
    display: flex;
    flex-flow: column;
    border-radius:0 ;
}


.card-img {
    width: auto;
    min-height: 250px;
    transition: transform 0.2s ease-in-out;
    object-fit:cover;
}

.card-title {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.card-text-discount {
    color: white;
    display: flex;
    text-decoration: line-through;
    font-size: 13px;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.card-text img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.card img:hover {
    transform: scale(1.1) ;
}

button{
    border: none;
    background: none;
}
  





/* Footer */

.sidebar {
    padding: 15px;
}

.sidebar ul {
    display: flex; 
    list-style-type: none; 
    padding: 10px;
    justify-content: center; 
}

.sidebar li {
    margin: 0 25px; 
}

.sidebar a {
    text-decoration: underline;
    color: #ffffff;
}

.sidebar a:hover {
    color: #FFB1B1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}


/* Style untuk notifikasi */
#notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: none; /* Awalnya disembunyikan */
}

#notification.show {
    display: block; /* Tampilkan notifikasi saat class 'show' ditambahkan */
}

.hidden {
    display: none;
}

/* responsif */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    .search-bar {
        width: 100%;
        margin-bottom: 10px;
    }

    .logo img{
        width: 110px;
    }

    ul{
        list-style: none;
    }

    li{
        margin: 10px;
    }

    nav .searchbar{
        padding: 10px;
    }

    nav .ul-pc ul {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        display: none;
    }

    li.batas{
        display: none;
    }

    nav .icons{
        padding: 25px;
    }

    .hamburger{
        display: inline;
      }

    .modal-box{
    width: 330px;
    height: auto;
    padding: 10px 0px;
    margin-left: -80px;
    margin-top: -70px;
    background-color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    }
    
    img.login-logo{
        width: 60px;
        display: flex;
        margin: 0 auto;
    }
    
    .login-form{
        color: black;
        width: 290px;
    }
    
    .login-form div{
        margin-bottom: 15px;
    }
    
    .login-form label{
        display: block;
    }
    
    .login-form input{
        width: 100%;
        line-height: 2;
        font-size: 16px;
        box-sizing: border-box;
    }
    
    .login-form button{
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
    
    .close-modal-btn{
        color: black;
         font-size: 30px;
         position: absolute;
         right: 10px;
         top: 10px;
         text-decoration: none;
    }
}

